
!gradle-wrapper.jar
*$py.class
*.DS_Store
*.class
*.db
*.egg-info/
*.env
*.iml
*.ipr
*.iws
*.key
*.lo
*.log
*.o
*.obj
*.pem
*.py[cod]
*.sqlite3
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.tmp
.DS_Store
.aws/
.classpath
.coverage
.dmypy.json
.env
.env/
.gradle/
.idea/
.ipynb_checkpoints/
.metadata/
.mvn/
.mypy_cache/
.nox/
.project
.pyright/
.pytest_cache/
.settings/
.tox/
.venv/
.vscode/
/*.gradle
/.bloop/
/.idea_modules/
/.metadata/
/.metals.sbt/
/.metals/
/.nb-gradle/
/bin/
/build/
/dist/
/lib_managed/
/nbbuild/
/nbdist/
/nbproject/private/
/out/
/project/project/
/project/target/
/target/
MANIFEST.MF
Thumbs.db
__pycache__/
build/
config.yaml
dist/
docker-compose.override.yml
env/
gradle-app.setting
htmlcov/
logs/
modules/
pip-wheel-metadata/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
site/
target/
.venv/
gradle/
.bsp/
# SBT & Build
/target/
/project/target/
/project/project/

# Logs
*.log

# IntelliJ IDEA
.idea/
/*.iml
*.iws
out/

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Scala Worksheet
*.sc

# Metals (Scala language server)
.metals/
.bloop/
.ammonite/

# coursier
.cache/
.ivy2/cache/
.coursier/

# sbt bloop integration
.bsp/

# Temporary files
*.swp
*.bak
*.tmp

# SBT history and logs
.history
sbt.log
# Java
# Build tool wrappers
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Maven Wrapper logs
mvnw.cmd
mvnw
# Gradle build output
/build/
/.gradle/

# Gradle Wrapper files
!gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat

# IDEs
## IntelliJ IDEA
.idea/
*.iml
*.iws
out/

## Eclipse
.classpath
.project
.settings/
